.checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
  }
  
  .checkout-steps > div.active {
    border-top-color: #007bbf;
    color: #007bbf;
    border-color: #007bbf;
  }